/*fonts*/

.roboto-extrabold{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

@keyframes slideInFromLeft{
	0%{
		transform: translateX(-100%);
		opacity: 0;
	}

	100%{
		transform: translateX(0px);
		opacity: 1;
	}
}

.main{

}

.sidebar{
	padding: 10px 20px 20px 20px;
	display: block;
	border-radius: 10px;
	border: 1px solid darkgrey;
	width: 180px;
	height: 94vh;
	position: fixed;
}

.main-body{
	display: flex;
}

.content-area{
	margin-left: 250px;
	padding-top: 100px;
}

#title-name{
	display: inline-block;
	font-family: roboto-extrabold, sans-serif;
	font-weight: bold;
	font-size: 85px;
	letter-spacing: 1px;
	animation: slideInFromLeft 0.8s ease-out forwards;
	animation-delay: 1s;

}

#desc-wrapper{
	overflow: hidden;
	margin-left: 50px;
}

#title-wrapper{
	overflow: hidden;
	width: 100%;
	margin-left: 50px;
	margin-bottom: 20px;
}

#desc{
	font-family: 'roboto-extrabold', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: grey;
	width: 1200px;
	animation: slideInFromLeft 0.8s ease-out forwards;
	animation-delay: 1s;
}

#title-name-dot{
	color: #9C04FC;
}


.inner-sidebar{
	margin: 10px;
	margin-top: 0px;
	display: flex;
	flex-direction: column;

}

#sidebar-name{
	font-weight: bolder;
	font-size: 30px;
	font-family: 'roboto-extrabold', sans-serif;
	text-align: left;
	padding-bottom: 50px;
}

#sidebar-name-dot{
	color: #9C04FC;
}


.tabs{
	font-family: 'roboto-extrabold', sans-serif;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	font-weight: 400;
	color: grey;
	padding-bottom: 40px;
	padding-top: 40px;
	padding-left: 20px;
	transform: translate(0px, 0px);
	transition: transform 0.3s ease, color 0.3s ease;
	letter-spacing: 2px;
}

.tabs:hover{
	color: #A587F4;
	transform: translate(10px, 0px);
	transition: transform 0.3s ease;
}