/*fonts*/

.roboto-regular{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html{
	scroll-behavior: smooth;
}

@keyframes slideInFromLeft{
	0%{
		transform: translateX(-100%);
	}

	100%{
		transform: translateX(0px);
	}
}

.main{

}

.sidebar{
	padding: 10px 20px 20px 20px;
	display: block;
	border-radius: 10px;
	border: 1px solid darkgrey;
	width: 180px;
	height: 94vh;
	position: fixed;
}

.main-body{
	display: flex;
}

.content-area{
	margin-left: 250px;
	padding-top: 100px;
}

#title-name{
	display: inline-block;
	font-family: Roboto, sans-serif;
	font-weight: bold;
	font-size: 85px;
	letter-spacing: 1px;
	animation: slideInFromLeft 0.6s cubic-bezier(0.2, 1, 1, 1) forwards;
	animation-delay: 0.5s;
	animation-fill-mode: backwards;

}

#desc-wrapper{
	overflow: hidden;
	margin-left: 50px;
}

#title-wrapper{
	overflow: hidden;
	width: 100%;
	margin-left: 50px;
	margin-bottom: 20px;
}

#desc{
	font-family: Lato, sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: grey;
	width: 1200px;
	letter-spacing: 2px;
	animation: slideInFromLeft 0.7s cubic-bezier(0.2, 1, 1, 1) forwards;
	animation-delay: 0.5s;
	animation-fill-mode: backwards;
}

#title-name-dot{
	color: #9C04FC;
}


.inner-sidebar{
	margin: 10px;
	margin-top: 0px;
	display: flex;
	flex-direction: column;

}

#sidebar-name{
	font-weight: bolder;
	font-size: 30px;
	font-family: Roboto , sans-serif;
	text-align: left;
	padding-bottom: 120px;
}

#sidebar-name-dot{
	color: #9C04FC;
}


.tabs{
	font-family: Roboto, sans-serif;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	font-weight: normal;
	color: grey;
	padding-bottom: 1px;
	padding-top: 1px;
	padding-left: 10px;
	height: 58px;
	transform: translate(0px, 0px);
	transition: transform 0.3s ease, color 0.3s ease, font-size 0.3s ease, letter-spacing 0.3s ease;
	letter-spacing: 1px;
}

.tabs:hover{
	color: #A587F4;
	transform: translate(10px, 0px);
	font-size: 22px;
	letter-spacing: 2px;
	transition: transform 0.3s ease, color 0.3s ease, font-size 0.3s ease, letter-spacing 0.3s ease;
}



stoopid error code